VITE_SUPABASE_URL=https://fqixsvnhjoiqdobamzhy.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZxaXhzdm5oam9pcWRvYmFtemh5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzAzMjQzMzksImV4cCI6MjA4NTkwMDMzOX0.kTMDctVxDkMKOWX3q1yPoy_XNJvmD_N_Hdl5WT4sCLo
